@charset "UTF-8";

div#content {
	width: 60%;
	margin: 50px auto;
}
/* 뒤로가기 버튼, 구매내역 글자, 메뉴 더보기 버튼 css */
div#detail_title {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px black;
	margin-bottom: 20px;
	padding: 0 0 20px 0;
}

/* 제품 이미지 css */
img.product_img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
/* 제목 밑에 오는 제품 css */
div#product_info {
	display: flex;
	justify-content: flex-start;
}
/* 진행 상황 표시 div css 시작*/
div#progressDetail {
	display: flex;
	width: 100%;
}

div#progressDetail div {
	width: 33%;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
}

/* 진행상황 막대 표시 */
div#shipping_ready {
	border-top: solid 3px black;
}

div#shipping_now {
	border-top: solid 3px black;
}

div#shipping_end {
	border-top: solid 3px #ebebeb;
}

div#progress_title {
	margin: 10px 0;
}

/* 총 정산금액 - 금액 표시 부분 css */
div#div_price {
	font-size: 35px;
	color: green;
	text-align: right;
	width: 100%;
}

div#price {
	margin-top: 20px;
	background-color: #ebebeb;
	border: solid 1px red;
}
/* 진행 상황 표시 div css 끝*/
div#price_detail, table#table_detail {
	margin-top: 10px;
	width: 100%;
}

div#price_detail {
	border-bottom: solid 1px gray;
}

td.td_title {
	width: 100px;
}

td.td_content {
	text-align: right;
}

/* 거래일시 제목,시간표시 css */
div#purchase_date {
	display: flex;
	justify-content: space-between;
}

span.buyer_title {
	display: inline-block;
	width: 100px;
}
/* 상품 상세보기 버튼 css */
button#product_detail {
	display: block;
	height: 50px;
	border-radius: 10px;
	border: none;
	margin: 10px 0;
	width: 100%;
}