

/* Main 시작 */
div.Main{
  width:80%;
  overflow: hidden;
  max-width: 1280px;
  margin:auto;
}
/* 사이드바 */
div.sidebar{
  width: 300px;
}
div#qna{
  width:1000px;
}
table.table{
  min-width: 400px;
}
div#qna > table > thead > tr > th{
  border-top:0;
  border-bottom:solid 3px black;
}

/* 셀렉트 태그 */
div#qna > table > tbody > tr > td:nth-child(1) > select{
  width:100%;
}
div#qna > table > thead > tr{
  width:100%;
}
td.selectTag{
  display:none;
}

button.btn_fillter{
  background-color: white;
  font-size: 13px;
  color:gray; 
  height:40px;
  width:72px;
  padding:0;
}

td.title{
  font-size:14px;
  width:68px;
  padding-left:0;
}

td.subject{
  font-size:15px;
}

td.downIcon{
  text-align: right;
  width:32px;
  background-color: white;
}
td.upIcon{
  text-align: right;
  width:32px;
  background-color: white;
}

tr.content{
  font-size:14px;
  background-color: #FAFAFA;
  padding: 12px 24px;
}
div#content{
  line-height: 24px;
}

div.page-item{
  width:70%;
  margin:auto;
  min-width:392px;
}

div.page-item > ul {
  width:60%;
}

div.page-item > ul > li:nth-child(2),
div.page-item > ul > li:nth-child(3),
div.page-item > ul > li:nth-child(4),
div.page-item > ul > li:nth-child(5){
  margin-left:20%;
}

a.pagination:link {
  color : black;
  text-decoration: none;
}

a.pagination:visited {
  color : black;
  text-decoration: none;
}

a.pagination:hover {
  color : black;
  text-decoration: none;
}

a.pagination:active {
  color : #000000;
  text-decoration: none;
}

/* 480px ~ 768px 미디어 쿼리*/
@media (max-width: 768px) {
  td.selectTag{
    display:table-cell;
  }
  td.button{
    display:none;
  }
  .sidebar {
    display: none;
  }
  div.Main{
    width:90%;
  }
  div.page-item{
    width:70%;
    margin:auto;
    min-width:400px;
  }
}



/* 0 ~ 480px 미디어 쿼리*/
@media (max-width: 480px) {
  /* 셀렉트태그 */
  select{
    font-size: small;
  }
  /* 토글버튼 */
  td.btn_toggle{
    margin-left: auto;
    width:20px;
  }
  div.page-item{
    width:70%;
    min-width:320px;
    margin:auto;
  }
}


