div.container > table > thead > tr > th{
  border-top:0;
}

div.container > table > thead > tr:nth-child(2){
  color:white;
  font-weight:bold;
}

button.btn_bottom:hover{
  background-color:black;
  color:white;
}